/* Page Layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Left Panel (White Background) */
.left-panel {
    flex: 1;
    background: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h2 {
    margin-bottom: 20px;
    color: #6c7a00;
}

/* Input Styling */
form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #c3c361;
    border-radius: 6px;
    outline: none;
}

.forgot {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    align-self: center;
}

/* Submit Button */
.submit-btn {
  
    
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    
    margin-top: 10px;

     background: #c3c361;
    border: none;
    width: 100%;
   /* padding: 14px; */
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 16px;

}

/* RIGHT PANEL (with PNG background) */
.right-panel {
    flex: 1;
    background-image: url("assets/3d-elegant-green-geometrical-texture_23-2149168863\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.right-panel h1 {
    margin: 0;
    font-size: 32px;
}

.right-panel p {
    margin: 15px 0;
    font-size: 18px;
}

/* Button inside background panel */
.right-btn {
    background: white;
    color: #6c7a00;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .right-panel {
        height: 300px;
        background-size: contain;
    }

    .left-panel {
        padding: 30px;
    }
}
.brnd-icn img {
    width: 60px;
    height: 60px;
    

}
.title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.social i {
    font-size: 24px;
    color: #6c7a00;
    cursor: pointer;
}
.brnd-icn1 img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
  
}